name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  native-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hustcer/setup-moonbit@v1
      - name: Install GLFW
        run: brew install glfw
      - name: Update MoonBit registry
        run: moon update
      - name: Format
        run: |
          moon fmt
          git diff --exit-code
      - name: Check
        run: moon check --target native
